/.vscode
DataEngineering/Databases/relational_db/data
DataEngineering/Databases/key_value/data
DataEngineering/Databases/document/data
DataEngineering/Databases/time_series/InfluxDB/data
DataEngineering/Databases/graph/conf
DataEngineering/Databases/graph/data
DataEngineering/Databases/graph/logs
DataEngineering/Databases/graph/import
DataEngineering/StreamProcessing/PySpark-Tutorial/.pyspark-env
FE-Voxel51-MinIO/.env