Databases/relational_db/data
Databases/key_value/data
Databases/document/data
Databases/time_series/InfluxDB/data
Databases/graph/conf
Databases/graph/data
Databases/graph/logs
Databases/graph/import
